<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Respon</title>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <side-bar></side-bar>
        <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper">
              <main-bar></main-bar>
              <div class="container-fluid px-4">
                  <main id="mainContent"></main>
              </div>
          </div>
        </div>
    <!-- /#page-content-wrapper -->
    </div>
  </body>
</html>
