<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dicoding:email" content="achmadzahrul01@gmail.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="icon" href="logo/respon-icon.png" />
    <title>RESPON</title>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-white" id="sidebar-wrapper">
        <side-bar></side-bar>
      </div>
      <!-- /Sidebar -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <main-bar></main-bar>
        <div class="container-fluid px-4">
          <main id="mainContent"></main>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
  </body>
</html>

